@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: black;
}

:root {
  font-family: "Courgette", "Dancing Script", cursive;
  font-size: 16px;
}

body {
  min-height: 100vh;
  background-color: mistyrose;
}

td,
th,
table {
  border-collapse: collapse;
  border-bottom: 1px solid black;
  padding: 20px;
  text-align: center;
  vertical-align: middle;
}

table {
  width: 50%;
}

th {
  font-size: 2rem;
}

td {
  font-size: 1.5rem;
}

.table-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
}

.addBook {
  background-color: white;
  color: black;
  padding: 10px 20px;
  margin: 30px;
  font-size: 1.3rem;
  border: 1px solid black;
  border-radius: 15px;
  cursor: pointer;
  transition: all 0.15s;
}

.addBook:hover {
  background-color: mistyrose;
}

.addBook:active {
  transform: translateY(3px);
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  width: 50%;
  height: 650px;
  padding: 50px;
  margin: auto;
  margin-top: 100px;
  background-color: antiquewhite;
  border-radius: 30px;
}

.modal-content span {
  float: right;
  cursor: pointer;
  color: dimgray;
  font-size: 2rem;
}

.modal-content span:hover {
  color: black;
}

.modal-content span:active {
  color: black;
}

button {
  outline: none;
  cursor: pointer;
  box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.4);
  transition: all 0.15s;
}

button:active {
  box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.3);
  transform: translateY(2px);
}

button[type="submit"] {
  color: black;
  padding: 10px 20px;
  background-color: mistyrose;
  font-size: 1.2rem;
  border: 1px solid black;
  border-radius: 10px;
  display: block;
  margin: auto;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: rgb(228, 193, 188);
}

button[type="submit"]:active {
  background-color: rgb(196, 166, 161);
}

label {
  display: block;
  text-align: center;
  font-size: 1.3rem;
  font-style: italic;
}

input {
  /* display: block; */
  margin: auto;
  width: 50%;
  /* margin-bottom: 10px; */
  border: 1px solid silver;
  border-radius: 10px;
  background-color: rgb(246, 246, 246);
  padding: 5px 15px;
  outline: none;
  font-size: 1.2rem;
}

input:focus {
  background: white;
  border: 1px solid black;
}

#readCheck {
  margin: 0;
  width: 25px;
  height: 25px;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.hidden {
  display: none;
}

.checkBox {
  cursor: pointer;
}

.warning {
  color: crimson;
  font-size: 1.1rem;
}

.delBtn {
  font-size: 1.1rem;
  color: white;
  background-color: crimson;
  padding: 5px 15px;
  border-radius: 10px;
  border: 1px solid black;
}

.delBtn:hover {
  background: rgb(187, 17, 51);
}

.delBtn:active {
  background: rgb(161, 13, 43);
}
